@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 180 5% 96%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 180 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 5% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 180 5% 90%;
    --muted-foreground: 224 7% 48%;
    --accent: 55 37% 56%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 88%;
    --input: 180 5% 88%;
    --ring: 180 42% 57%;
    --chart-1: 180 42% 57%;
    --chart-2: 55 37% 56%;
    --chart-3: 200 45% 55%;
    --chart-4: 340 50% 60%;
    --chart-5: 20 50% 60%;
    --radius: 0.5rem;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 180 42% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 180 42% 57%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 55 37% 56%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 180 42% 57%;
    --chart-1: 180 42% 57%;
    --chart-2: 55 37% 56%;
    --chart-3: 200 45% 55%;
    --chart-4: 340 50% 60%;
    --chart-5: 20 50% 60%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 180 42% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 180 42% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
